@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    padding: 20rem;
    padding-top: 0.50rem;
    background-color: #2E2E2E;
    font-family: 'Roboto', serif;
}

.section-body {
    background-color: #F0F0F0;
}

header {
    background-color: #405a7e;
    color: white;
}

.section-header {
    padding-left: 5rem;
    padding-right: 5rem;

    font-size: 1rem;
    margin: 0.25rem;
}

.father {
    display: flex;
    justify-content: space-between;
}

.father .firts {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.father .second {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #BDBDBD;
}

.section-header .firts-two {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
} 

.text-format {
    white-space: pre-line;
    color: #a09c9c;
    font-size: 0.8rem;
}

.button {
    width: fit-content;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #3072F2;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #bdb9b9;
    font-size: 0.7rem;
    
    
    width: 400px;
    background-color: #5F7399;
}

.father-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    padding-top: 2rem;
}

.father-items span {
    font-size: 2.2rem;
    font-weight: bold;
}

.father-items article {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.section-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;

}

.items {
    border: 0.1rem solid #4273FF;
    border-radius: 0.5rem;
    width: 8rem;
    height: 8rem;
}

.text-inspiration {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 5rem;
    background-color: #bebebe;
}

.inspiration {
    font-size: 2rem;
    font-style: italic;
}

#author {
    font-size: 1.5rem;
    font-weight: bold;
}
