@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    padding: 20rem;
    padding-top: 0.50rem;
    background-color: #2E2E2E;
    font-family: 'Roboto', serif;
}

header {
    background-color: #405a7e;
}

.section-header {
    padding-left: 5rem;
    padding-right: 5rem;
}

.father {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.75rem;
    margin: 0.25rem;
}

.father .firts {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.father .second {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #BDBDBD;
}

